.signlogo {
  width: 110px;
  height: 55px;
  margin-top: 10px;
}

.createacc {
  /* position: absolute;
    left: 20.33%;
    right: 18.9%;
    top: 69.07%;
    bottom: 27.5%; */

  font-family: "Optima";
  font-style: normal;

  font-size: 16px;
  line-height: 130%;
  margin-top: 30px;

  color: #2c321f;
}

.welcome {
  font-family: "Optima";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133.5%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2c321f;
  margin-left: 25px;
}

.forgotpassword {
  font-family: "Optima";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #a3a3a3;
  margin-top: 15px;
  margin-left: 25px;
  cursor: pointer;
}

.line {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 25px;
}

.left-line,
.right-line {
  flex: 1;
  height: 1px;
  background-color: black;
}

.right-line {
  margin-right: 28px;
}

.acc {
  color: var(--Olive, #a09935);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  padding: 0 10px;
  /* Adjust padding as needed */
}

.right-line {
  width: 1px;
  /* Adjust the width as needed */
}

.terms_cond {
  /* By proceeding, you agree to our Terms of Use and confirm you have read our Privacy and Cookie Statement. */

  /* position: absolute;
    left: 13.64%;
    right: 13.64%;
    top: 79.05%;
    bottom: 15.71%; */

  font-family: "Optima";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  /* or 16px */
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 35px;

  color: #2c321f;
}

.forgotcard {
  /* display: flex; */
  flex-direction: row;
  align-items: flex-start;
  padding: 45px 23px;
  gap: 10px;
  /* position: absolute; */
  width: 418px;
  height: 555px;
  left: 1088px;
  top: 263px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-top: 30px;
}

.verifcation_card {
  width: 372px;
  height: 465px;
}

.forgot_heading {
  font-family: "Optima";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133.5%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2c321f;
}

.forgot_text {
  font-family: "Optima";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #6a7486;
}

.send_otp {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 30px;
  gap: 10px;
  width: 328px;
  height: 52px;
  background: #a09935;
  border: 1px solid #a09935;
  border-radius: 50px;
  color: white;
  text-transform: none !important;
  margin-left: 14px;
}

.leftimg {
  /* background: url(../../../../../../assets/images/beach-666122_1280.jpg); */
  background: url(../../../../../../assets/images/beachpic.jpg);
  background-size: cover !important;
  background-position: center !important;
  height: 100%;
}

.example-full-width {
  width: 335px;
}
.email-verification{
  margin-top: 50px;
}

/* responsiveness  */

@media only screen and (max-width: 768px) {
  .maincard {
    width: 90%;
    padding: 20px;
    margin: 20px auto;
  }
 .send_otp{
  box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 30px;
    gap: 10px;
    width: 343px;
    height: 52px;
    margin-left: -5px;
    background: #A09935;
    border: 1px solid #A09935;
    border-radius: 50px;
 }
  .img-fluid {
    width: 100%;
    height: auto;
  }

  .icon_text {
    font-size: 14px;
  }

  .icon_card {
    padding: 10px;
  }

  .terms_cond {
    font-size: 10px;
    margin-top: 20px;
    width: 326px;
  }

  .col-12 {
    order: unset;
  }

  .col-12.order-1 {
    order: 1;
  }

  .col-12.order-2 {
    order: 2;
  }

  .forgotcard {
    width: 85%;
    height: 510px;
    padding: 8px 0px;
    margin-right: 1rem;
    margin-top: 40px;
    background: #ffffff;
    box-shadow: none;
    border-radius: 20px;
    /* margin-left: -1pc; */
  }

  .example-full-width {
    width: 344px;
    margin-left: 0px;
  }



  .image-mob {
    background: none;
   
  }

  .leftimg {
    background: none;
  }

  .right-line {
    margin-right: 44px;
  }

  .forgot_heading {
    margin-left: 0px;
  }

  .forgot_text {
    width: 340px;
    margin-left: 0px;
  }

  .createacc {
    margin-right: 2rem;
  }
  .signlogo{
    width: 134px;
    height: 85.15px;
    margin-top: 69px;
    margin-left: -34px;
  }
  .email-verification{
    margin-top: 45px;
  }
  .left-line{
    margin-left: 2px;
  }
  .line{
    margin-left: -9px;
  }
}
