

<div class="container-fluid image-mob h-100">
    <div class="row h-100">
      <div class="col-12 col-md-6 order-2 order-md-1 p-0"> 
        <div class="leftimg h-100 w-100"> </div>
      </div>
  
      <div class="col-12 col-md-6 order-1 order-md-2 d-flex flex-column align-items-center justify-content-center">
        <div class="d-flex flex-column align-items-center justify-content-center" >

<img class="signlogo" src="./assets/images/inio.png" alt="Inio Logo"> 

  
          
          <div class="forgotcard">
            <div class="verifcation_card">
              <h5 class="forgot_heading">Forget password</h5>
              <p class="forgot_text">Please enter your registered email address. We will send you a password reset link to your email address</p>
              <div class="email-verification" >
                <mat-form-field class="example-full-width">
                  <mat-label>Email Id</mat-label>
                  <input type="text" matInput name="Email Id" />
                </mat-form-field>
              </div>
              
              <button type="button" class="btn send_otp">Send</button>
              
              <div class="member_section">
                <div class="line">
                  <div class="left-line"></div>
                  <div class="acc">Remember password?</div>
                  <div class="right-line"></div>
                </div>
                
                <p class="text-center createacc">
                  <span routerLink="/email-login" style="text-decoration: underline; cursor: pointer; font-weight: 700;">Signin</span> to unlock the best of the Inio
                </p>
                
                <p class="terms_cond">By proceeding, you agree to our Terms of Use and confirm you have read our Privacy and Cookie Statement.</p>
                
                <p class="terms_cond">This site is Protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</p>
              </div>
              
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
  </div>
  