<div class="container-fluid blog-header">
  <div class="container-fluid header">
    <div class="inio_png">
      <div class="Inio_Sub"></div>
      <div class="usericon">
        <div class="insid_cont">
          <img
            class="logo"
            src="https://s3-alpha-sig.figma.com/img/88b5/f602/f07159e285b2d973930075594a819c95?Expires=1717372800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=q4vs7zW4rebNSXBTiRLVUKrw1uNJ-AWLVuJxvb~mC~tmLB9nVJAnl~ijMXea7N5yxtA6sZ0PG-7LLM3B0cMfbSMTzMa3tJixBNEb8TQG2U83kdnSWOGg85uzG1tKBk-MIf9fDk3eZvZ0NDruAqYZuvFMY54dj3RiCRweXUTLEueV000lZI-1~2~AD0Ry087HFM45Ht0TLdG-CzdPSiWyPTf-A0ALd4KVAxxwtQwxrwOWDLOEpLN9TjnP9f2UTSUcyRr5JmJP6Aq7SQuZZ4m1n3Bb3TN66eTeZ2qyncsaLNjIwdRDFI4A3OcSHDz~JRxUVzfG2HoUeWntArX5X-gH8g__"
          />
          <div class="text-container">
            <p class="top_text">hello</p>
            <p class="name_text">John Deo</p>
          </div>
        </div>
        <div class="down_arrow">
          <i class="fa fa-solid fa-caret-down font_icon"></i>
        </div>
      </div>
    </div>
  </div>

  <!-----attraction-->
  <div class="attraction">
    <div class="hr_line1"></div>

    <div class="all_icon">
      <i class="fa fa-solid fa-hotel fass"></i>
      <p class="dest_name">Resorts</p>

      <i class="fa fa-solid fa-city fascity"></i>
      <p class="city">City hotels</p>

      <i class="fa fa-solid fa-house-user guest_icon"></i>
      <p class="guest_text">Guest house</p>

      <i class="fa fa-home home_icon" aria-hidden="true"></i>
      <p class="home_text">home stay</p>

      <i class="fa fa-solid fa-ship experinces_icon"></i>
      <p class="experinces_text">Experinces</p>

      <i class="fa fa-regular fa-map destination_icon"></i>
      <p class="destination_text">Destinations</p>

      <i class="fa fa-solid fa-taxi transport_icon"></i>
      <p class="transport_text">Transport</p>

      <i class="fa fa-solid fa-globe internet_icon"></i>
      <p class="internet_text">Internet</p>

      <i class="fa fa-solid fa-child nomads_icon"></i>
      <p class="nomads_text">Nomads</p>
    </div>

    <div class="hr_line2"></div>

<!---discoveries-->


<div>
    <h5 class="discovery_head">Discoveries & Reflection</h5>
    <p class="discovery_text">Lorem ipsum dolor sit amet consectetur. Amet euismod proin turpis morbi in amet diam nulla. Lacus massa ultrices bibendum sagittis fermentum luctus. Egestas odio dolor in tincidunt. Sit sed nisi enim ultricies massa ornare laoreet. Tristique porta ut sit consectetur in mattis velit. Praesent aliquet faucibus nec placerat facilisis sapien maecenas bibendum. Pellentesque ultrices auctor sed malesuada id ullamcorper. Turpis aliquam nec lorem tellus et nunc eu. A eu urna fringilla neque suspendisse facilisis. Elementum massa sit facilisi pretium malesuada ornare quam aliquam. Consequat facilisi nascetur quis nullam leo tincidunt nunc</p>
</div>


  
  </div>

</div>



<!--adventure-->
<div class="container adventure">
    <p>test</p>
</div>