<div class="container-fluid image-mob h-100">
  <div class="row h-100">
    <div class="col-12 col-md-6 order-2 order-md-1 p-0"> 
      <div class="leftimg h-100 w-100"> </div>
    </div>

    <div class="col-12 col-md-6 order-1 order-md-2 d-flex flex-column align-items-center justify-content-center">
      <div class="d-flex flex-column align-items-center justify-content-center mob">
        <img style="margin-bottom: 50px;" class="logo" src="./assets/images/inio.png" alt="Inio Logo"> 
        <div class="maincard">
          
          <h5 class="unlockinio">Sign in to unlock best of inio</h5>
       

          <div class="google">
            <div  id="google-btn"></div>
          </div>
        
       

          <div class="icon_card mt-2">
            <p (click)="Facebooklogin()" style="text-align: center; cursor: pointer; margin-top: 4px;">
              <img class="icon_svg" src="https://i.pinimg.com/736x/41/28/2b/41282b58cf85ddaf5d28df96ed91de98.jpg">
              <span class="icon_textfb">Continue with Facebook</span>
            </p>
          </div>
          <div class="icon_card mt-2">
            <p (click)=" emailLogin()" style="text-align: center; cursor: pointer; margin-top: 4px;" >
              <img class="icon_svg" src="https://logowik.com/content/uploads/images/513_email.jpg">
              <span class="icon_text">Continue with Email</span>
            </p>
          </div>
          <p class="terms_cond">By proceeding, you agree to our Terms of Use and confirm you have read our Privacy and Cookie Statement.</p>
          <p class="terms_cond">This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</p>
        </div>
      </div>
    </div>
  </div>
</div>



