
.signlogo{
  width: 110px;
  height: 55px;
  margin-top: 10px;
}
.createacc{


/* position: absolute;
left: 20.33%;
right: 18.9%;
top: 69.07%;
bottom: 27.5%; */

font-family: 'Optima';
font-style: normal;

font-size: 16px;
line-height: 130%;
margin-top: 30px;


color: #2C321F;


}
.welcome{
  font-family: 'Optima';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133.5%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2C321F;
  margin-left: 25px;
}

.forgotpassword{
  font-family: 'Optima';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #A3A3A3;
  margin-top: 15px;
  margin-left: 25px;
  cursor: pointer;
  

}
.signin{
 
  background: #A09935;
  border: 1px solid #A09935;
  border-radius: 50px;
  
}

.signinuser{
  box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 30px;
gap: 10px;

/* position: absolute; */
width: 328px;
height: 52px;
/* left: 48px;
top: 284px; */

background: #A09935;
border: 1px solid #A09935;
border-radius: 50px;
color: white;
text-transform: none!important;
margin-left: 25px;
}




.login{
  border: 1px solid;
  width: 86%;
  border-radius: 13px;
  color: white;
  /* margin-left: 5px; */
  background: var;
  background: var(--primary-color);
  margin-bottom: 10px;
}
.logo{
  width: 110px;
    height: 55px;
}

.line {
  display: flex;
  align-items: center;
    margin-top: 30px;
  margin-left: 25px;
}

.left-line,
.right-line {
  flex: 1;
  height:1px;
  background-color: black;
}
.right-line{
  margin-right: 28px;
}

.acc{
  color: var(--Olive, #A09935);
  font-size: 
  16px;
  font-weight: 400;
  line-height: 20.8px;
  padding: 0 10px; /* Adjust padding as needed */
}
.right-line {
  width: 1px; /* Adjust the width as needed */
}


.flex-container {
  display: flex;
  flex-direction: row;
}


.cards {
  /* display: flex; */
  
  flex-direction: row;
  align-items: flex-start;
  padding: 45px 23px;
  gap: 10px;

  /* position: absolute; */
  width: 418px;
  height: 611px;
  left: 1088px;
  top: 263px;
  margin-top: 40px;
  background: #FFFFFF;
  /* Drop shadow */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.email_password{

  height: 87px;
  margin-top: 
  50px;
margin-left: 25px;
}
.signup_member{
  height: 190px;
  width: 430px;

}
.member_section{
 height: 190px;
 width: 372px;
}
.terms_cond{
  /* By proceeding, you agree to our Terms of Use and confirm you have read our Privacy and Cookie Statement. */

/* position: absolute;
left: 13.64%;
right: 13.64%;
top: 79.05%;
bottom: 15.71%; */

font-family: 'Optima';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 130%;
/* or 16px */
display: flex;
align-items: center;
text-align: center;
margin-top: 35px;

color: #2C321F;


}
.maincard {
  width: 418px;
  height: auto;
  background: #FFFFFF;
  padding: 29px 23px;
  gap: 10px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.unlockinio {
  font-family: 'Optima';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin: 24px 27px 50px 28px;
  line-height: 133.5%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2C321F;
}
#google-btn {
  text-align: center;
}

/* #google-btn{ */
  /* font-family: 'Optima', sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 130% !important;
  align-items: center !important;
  color: #2C321F !important; */
/* } */

/* your-component.component.css */
/* your-component.component.css */



/* your-component.component.css */
/* Increase specificity */
#google-btn {
  font-family: 'Optima' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 130% !important;
  align-items: center !important;
  color: #2C321F !important;
  text-align: center !important;
}
.google-btn{
  color: red;
}
/* Override styles for the span element */



.icon_text{
  font-family: "Google Sans", arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  text-align: center;
  margin-left: -15px;
}
.icon_textfb{
  font-family: "Google Sans", arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  margin-left: 7px;
}
.icon_card{
  /* Rectangle 163 */

box-sizing: border-box;

font-family: 'Optima'!important;
font-style: normal;

border: 0.75px solid darkgray;;
border-radius: 5px;
height: 38px;
}
.icon_svg{
  height: 26px;
  width: 32px;
  height: 26px;
  width: 32px;
  float: inline-start;
  margin-left: 6px;
}
.error_text{
  color: #D93941;
  font-family: 'Optima';
font-style: normal;
font-weight: 400;
align-items: center;
font-size: 14px;
margin-top: 12px;
margin-left: 25px;
line-height: 130%;
}

.signupcard {
  /* Frame 546 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center; /* Center horizontally */
  padding: 35px 34px;
  gap: 10px;

  /* position: absolute; */
  width: 561px;
  height: 695px;
  left: 1016px;
  top: 263px;

  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-top: 30px;
}

.signup_section {
  /* Group 575 */
  width: 493px;
  height: 625px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
}



.form-title{
/* Join in to unlock best of the Inio. */

/* position: absolute;
left: 12.12%;
right: 55.79%;
top: 5.04%;
bottom: 85.76%; */

font-family: 'Optima';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 133.5%;
/* or 32px */
display: flex;


color: #2C321F;


}
.name_label{
  width: 87px;
  /* height: 21px; */
  font-family: 'Optima';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 130%; */
  display: flex;
  align-items: center;
  color: #6A7486;
}
.password_label{
  width: 160px;
  /* height: 21px; */
  font-family: 'Optima';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 130%; */
  display: flex;
  align-items: center;
  color: #6A7486;
}
.joinin{
  font-family: 'Optima';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133.5%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2C321F;
  margin-right: 61px;
  /* margin-left: 25px; */
  justify-content: center;
}

.password_validation{
  /* Your password must be at least 10 characters */

width: 272px;
height: 18px;

font-family: 'Optima';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 130%;
/* or 18px */
display: flex;
align-items: center;
color: #D93941;
flex: none;
order: 3;
flex-grow: 0;

}

.forgotcard{
  /* display: flex; */
    flex-direction: row;
    align-items: flex-start;
    padding: 45px 23px;
    gap: 10px;
    /* position: absolute; */
    width: 418px;
    height: 555px;
    left: 1088px;
    top: 263px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-top: 30px;
}
.verifcation_card{

  width: 372px;
  height: 465px;
}
.forgot_heading{
  font-family: 'Optima';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133.5%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2C321F;
}
.forgot_text{
  font-family: 'Optima';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #6A7486;
}
.send_otp{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 30px;
  gap: 10px;
  width: 328px;
  height: 52px;
  background: #A09935;
  border: 1px solid #A09935;
  border-radius: 50px;
  color: white;
  text-transform: none !important;
  margin-left: 14px;
}

.leftimg{
  background: url(../../../../../../assets/images/beachpic.jpg);
background-size: cover!important;
background-position: center!important;
/* margin-bottom: 50px; */
}

/* responsiveness  */

@media only screen and (max-width: 768px) {
  .maincard {
    width: 100%;
    /* padding: 20px;
    margin: 20px auto; */
    box-shadow: none;
  }

  .logo {
    width: 100px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .img-fluid {
    width: 100%;
    height: auto;
  }

  .unlockinio {
    font-size: 20px;
    margin: 20px 10px;
  }

  .icon_text {
    font-size: 14px;
    
  }

  .icon_card {
    width: 368px;
    border: 0.75px solid darkgray;
    border-radius: 5px;
    height: 29px;
    padding: 0px;
  }

  .terms_cond {
    font-size: 10px;
    margin-top: 20px;
  }

  .col-12 {
    order: unset;
  }

  .col-12.order-1 {
    order: 1;
  }

  .col-12.order-2 {
    order: 2;
  }
  .leftimg{
    background: none;
  }
  .image-mob{
    background: none;
    background-size: cover !important;
    background-position: center !important;
  }
  .icon_textfb{
    margin-left: -1px;
    font-size: 12px;
  }
  .icon_text{
    font-size: 12px;
    margin-left: -17px;
  }
  .icon_svg{
    height: 21px;
    width: 25px;
  }
  .mob{
    margin-left: 0px;
  }
  .logo{
    margin-left: -26px;
  }
}





