<app-common-header></app-common-header>





<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-6">
            <img class="map" src="https://s3-alpha-sig.figma.com/img/d1d5/33de/8a76b99afce86085b9a5307fef796d82?Expires=1717372800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=aDjcS-AOSSgQP9B8o7QX0gu29ImHkxiNILAcO6Kqie9Z9rqnBiNGAlcNRYLiSDPV77tkmUSYyPcyFKLI~XY6pzQIBFBWWLjIso8PZ2WgY82TI9sb7nJ8qmZyssJnRDEZdwsmF82YK-NGjdHZVjHn-s2g5tNJHN9~dcD5ESQ8mQ7Dxv0485gkaxHYolz8aakdXyMHtR-JaEbmT9nkjhDZS--sce8opekwPcIhBFUDKz1QyTsxl~gwzcXasO0hO9NB5mDmKetSeWwTXgsE-zLrX~F7tj7riPnqak~~gRYHXrehwei6YToGwQ1Uax381VbdXD9EnxHKAfZeM74~apYBFA">
            <div class="row mt-2">
                <div class="col-6">
                <p class="contact_info">Contact Information</p>
                <p class="phone"><span>  <i class="fa fa-solid fa-phone phoneicon"></i></span>  +00 11 23 42 123 / +00 71 23 44 112</p>
                <p class="phone"><span><i class="fa fa-solid fa-envelope lettericon"></i></span>  info&#64;inio.com</p>
                </div>
                <div class="col-6">
                  <p class="contact_info">Follow us on</p>
                  <div class="icons_awesome">
                  <i class="fa fa-brands fa-facebook fb"></i>
                  <i class="fa fa-brands fa-instagram fb ml-2"></i>
                  <i class="fa fa-brands fa-twitter fb ml-2"></i>
                  <i class="fa fa-brands fa-pinterest fb ml-2"></i>
                  <i class="fa fa-brands fa-youtube fb ml-2"></i>
                </div>
            </div>
            </div>
        </div>
        <div class="col-6">
           <p class="help_text">Need any help?<br>
            Say Hello!</p>

            <div class="email-verification  flex-container">
                <mat-form-field class="example-full-width" style="width: 314px;">
                    <label class="first_name" for="first-name">First Name <span class="text-danger">*</span></label>
                    <input type="text" matInput name="First name" />
                </mat-form-field>
            
                <mat-form-field class="example-full-width lastname"style="width: 314px;">
                  <label class="first_name" for="first-name">Last Name <span class="text-danger">*</span></label>
                  <input type="text" matInput name="Last name"  />
              </mat-form-field>
            
              <mat-form-field class="example-full-width" style="width: 100%;">
                <label class="email" for="first-name">Email id <span class="text-danger">*</span></label>
                  <input type="text" matInput name="Email Id"  />
              </mat-form-field>

              <mat-form-field class="example-full-width" style="width: 100%;">
                <label class="email" for="first-name">Subject </label>
                  <input type="text" matInput name="subject"  />
              </mat-form-field>

              <mat-label class="message">Message</mat-label>
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;height: 194px;">
                <textarea style="    height: 134.39px" matInput name="message" rows="5"></textarea>
              </mat-form-field>
              
              <button class="send_message">Send message</button>
            </div>
            
        </div>
    </div>
  
</div>


<div style="margin-top: 10px;">
    <app-footer></app-footer>
</div>









