
<div class="contact-us largescreen">
    <div class="footer">
      
        <div class="group-227">
            <div class="image-12">
            </div>
            <div class="group-196">
                <div class="subscribe-to-get-the-latest-updates">
                    Subscribe to get the latest updates
                </div>
                <div class="dummytext">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard <br> dummy text ever since the 1500s, when an unknown printer took a galley of type and scram
                </div>
              


                <div class="input-container">
                    <input type="text" placeholder="Enter your text...">
                    <button>Search</button>
                </div>
                  
                  
                  

                
            </div>
        </div>
    </div>
    </div>



    <div class="container mob show-on-mobile">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card contact-us">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <h2 class="text-center mb-4 main_text">Subscribe to get the latest updates</h2>
                                <p class="text-center midfont">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scram</p>
                                <form>
                                    <div class="input-groups mb-3">
                                        <input type="text" class="form-control sidebtn" placeholder="Enter your email...">
                                     
                                    </div>

                                   
                                        <button class="btn btn searchbtn" type="button">Subscribe</button>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
<footer class="below_footer large-foot">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 lor">
                <img style="height: 205px;width: 205px;" src="../../../../../../assets/images/footerlogo.png">
                <p class="loruspm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and</p>
                <p class="tel_icon"><span><i class="fa fa-solid fa-phone"></i></span>&nbsp; +00 11 23 42 123 / +00 71 23 44 112</p>
                <p class="tel_icon"><span><i class="fa fa-solid fa-envelope"></i></span>&nbsp; info&#64;inio.com</p>
                <p class="tel_icon">
                    <i class="fa fa-brands fa-facebook fbs"></i>
                    <i class="fa fa-brands fa-instagram ml-2 fbs"></i>
                    <i class="fa fa-brands fa-twitter ml-2 fbs"></i>
                    <i class="fa fa-brands fa-pinterest ml-2 fbs"></i>
                    <i class="fa fa-brands fa-youtube ml-2 fbs"></i>
                </p>
            </div>
            <div class="col-md-7 lors">
                <p class="unleasing">Unleashing Travel Freedom and Convenience</p>
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="sub_heading">Pages</h3>
                        <p class="head_text">home</p>
                        <p class="head_text">Blogs</p>
                        <p class="head_text">Contact us</p>
                    </div>
                    <div class="col-md-3">
                        <h3 class="sub_heading">Accommodations</h3>
                        <p class="head_text">Resorts</p>
                        <p class="head_text">City Hotels</p>
                        <p class="head_text">Guest House</p>
                        <p class="head_text">Home Stay</p>
                    </div>
                    <div class="col-md-3">
                        <h3 class="sub_heading">Transport & Other</h3>
                        <p class="head_text">Transportation</p>
                        <p class="head_text">Experience</p>
                        <p class="head_text">Destinations</p>
                        <p class="head_text">Internet</p>
                        <p class="head_text">Nomads</p>
                    </div>
                    <div class="col-md-3">
                        <h3 class="sub_heading">Legal</h3>
                        <p class="head_text">Terms of Services</p>
                        <p class="head_text">Privacy Policy</p>
                    </div>
                </div>
                
            </div>
            <!-- <div style="width: 50%; height: 1px; background-color: white;margin-bottom: 20px;"></div> -->
            <div class="ml-4 foot-line"></div>
            <p class="ml-4 allrights">All rights reserved 2024.</p>
        </div>

    </div>

</footer>


 <!-- mobile footer -->
            
 <footer class="below_footer mobile-foot">
    <div class="container-fluid">
        <div class="row">
            <div class="col lor">
                <img class="inio-image" src="../../../../../../assets/images/footerlogo.png">
            
            </div>
            <div class="col lors">
                <p class="unleasing">Unleashing Travel Freedom and Convenience</p>
                <div class="row sector">
                    <div class="col-md-3">
                        <h3 class="sub_heading">Pages</h3>
                        <p class="head_text">Home</p>
                        <p class="head_text">Blogs</p>
                        <p class="head_text">Contact us</p>
                    </div>
                    <div class="col-md-3">
                        <h3 class="sub_heading one">Accommodations</h3>
                        <p class="head_text">Resorts</p>
                        <p class="head_text">City Hotels</p>
                        <p class="head_text">Guest House</p>
                        <p class="head_text">Home Stay</p>
                    </div>
                    <div class="col-md-3">
                        <h3 class="sub_heading one">Transport & Other</h3>
                        <p class="head_text">Transportation</p>
                        <p class="head_text">Experience</p>
                        <p class="head_text">Destinations</p>
                        <p class="head_text">Internet</p>
                        <p class="head_text">Nomads</p>
                    </div>
                    <div class="col-md-3">
                        <h3 class="sub_heading">Legal</h3>
                        <p class="head_text">Terms of Services</p>
                        <p class="head_text">Privacy Policy</p>
                    </div>
                </div>
                
            </div>
            <!-- <div style="width: 50%; height: 1px; background-color: white;margin-bottom: 20px;"></div> -->
           
       
           
            <!-- <div class="ml-4 foot-line"></div>
            <p class="ml-4 allrights">All rights reserved 2024.</p> -->
        </div>

<div class="details">
<p class="tel_icon"><span><i class="fa fa-solid fa-phone"></i></span>&nbsp; +00 11 23 42 123 / +00 71 23 44 112</p>
<p class="tel_icon"><span><i class="fa fa-solid fa-envelope"></i></span>&nbsp; info&#64;inio.com</p>
<p class="tel_icon">
    <i class="fa fa-brands fa-facebook fbs"></i>
    <i class="fa fa-brands fa-instagram ml-2 fbs"></i>
    <i class="fa fa-brands fa-twitter ml-2 fbs"></i>
    <i class="fa fa-brands fa-pinterest ml-2 fbs"></i>
    <i class="fa fa-brands fa-youtube ml-2 fbs"></i>
</p>
<div class="ml-4 foot-line"></div>
<p class="ml-4 allrights">All rights reserved 2025.</p>
</div>


    
    </div>

</footer>
