<!-- <nav style="background: var(--primary-color);">
    <div class="container">
        <img style="height: 30px;" src="https://tiniva.s3.ap-south-1.amazonaws.com/Elivaas.jpeg"  (click)="goToHomePage();">
    </div>
</nav> -->

<nav style="background: var(--primary-color);" class="navbar bg-body-tertiary">
    <div class="container" style="padding-left: 0px;padding-right: 0px;">
        <img src="./assets/images/inio.png" alt="Logo" class="logo "(click)="logout()" >
    
        </div>
   
  </nav>

