<!-- **header*** -->
<app-reusable-headers></app-reusable-headers>



  <!-- *** change password card **** -->

  <div class="changepassword-card">
    <div class="sub-card">
       
        <h5 class="subcard-heading">Change your login details</h5>
    <p class="sub-text">Lorem ipsum dolor sit amet consectetur. Vitae etiam eget vestibulum leo id mattis vel.</p>

<div class="form-container">
 
 <div> 
    <label class="currentname_label" >Current password</label>
    <input placeholder="Enter your current password" type="text"class="current_input" id="first-name" name="first_name"  />
  </div>

  <div class="passworddiv"> 
    <label class="currentname_label" >New password</label>
    <input placeholder="Enter your new password" type="text"class="current_input" id="first-name" name="first_name"  />
  </div>

  <div class="passworddiv"> 
    <label class="currentname_label" >Verify password</label>
    <input placeholder="Confirm your new password" type="text"class="current_input" id="first-name" name="first_name"  />
  </div>



</div>
<button class="change_btn">Change password</button>

    </div>
  </div>

  


  <!-- ############ FOOTER ###########  -->
  <div class="footer">
    <app-reusable-footer></app-reusable-footer>
  </div>
