<div class="profile_setting">
    <div routerLink="/home-page" class="Inio_Sub"></div>
  
    <div class="profile_entities">
      <span routerLink="/profile-setting" routerLinkActive="active-link"class="profile_subtext">Personal Information</span>
      <span routerLink="/payment-page" class="profile_subtext profile_space"routerLinkActive="active-link">Payments</span>
      <span routerLink="/change-password" class="profile_subtext profile_space"routerLinkActive="active-link">Security</span>
      <span routerLink="/bookings-page" class="profile_subtext profile_space"routerLinkActive="active-link">Bookings</span>
      <span routerLink="/Cancellations-refund" class="profile_subtext"routerLinkActive="active-link">Cancellations and refunds</span>
    </div>
  </div>
  
  
  <!-- for mobile  - -->

  <nav style="background-color: #2C321F;" class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" ><div routerLink="/home-page" class="Inio_Sub"></div></a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: white;"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile-setting"routerLinkActive="active-link">Personal Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/payment-page"routerLinkActive="active-link">Payments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/change-password"routerLinkActive="active-link">Security</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bookings-page"routerLinkActive="active-link">Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Cancellations-refund"routerLinkActive="active-link">Cancellations and refunds</a>
        </li>
      </ul>
    </div>
  </nav>
  
  